<%- include('../includes/header') %>
<%- include('../includes/nav') %>
   <main class="page_content">
     <div class="container">
          <section class="page_banner">
               <div class="content_wrapper">
                   <div class="col col-lg-6">
                    <h1>Welcome Back <%= user.name %> !</h1>
                    <p>
                         Some text Here
                    </p>
                    <a href="new"  type="submit" class="btn btn_dark mb-5">
                         <span>
                              <small>what's in Your Mind</small>
                              <small>Post it </small>
                         </span>
                    </a>
                    <a href="articles" type="submit" class="btn btn_dark mb-5">
                         <span>
                              <small>Your Posts</small>
                              <small>View Them</small>
                         </span>
                    </a>
                   </div>
               </div>
          </section>
     </div>
   </main>
</body>
</html>